*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container
{
     font-family: Arial, sans-serif

}

video{
    border-radius: 15px;
}

/*section-2*/

#section-2{
    
    
    
    height: 800px;
    width: 1600px;
    
    font-size: 25px;
    font-family: Arial, sans-serif;
    position: relative;
    left: 40px;
    top:50px;

}
.section-2-left{
    height: 100px;
    width:400px;
    
    margin: 40px;
    position : absolute;
    left: 20px;
    
    



}

.section-2-right{
    
    height: 100px;
    margin: 50px;
    
    
    position:absolute;
    left: 700px ;
    

}

/*section-3*/

#section-3{ 
      height: 100px;
    width: 1600px;

    font-family: Arial, sans-serif;
     font-size: 25px;
    position:relative;
    left:70px;

    

}

   
.section-3-left{
      
     height: 100px;
    width:400px;
    
}
  

.section-3-right{
    width:400px;
height: 100px;

    margin: 50px;
    
    
    position:absolute;
    left: 700px ;

}

/*section-4*/

#section-4{
    height: 1000px;
    width: 500px;
    
    font-size: 25px;
    font-family: Arial, sans-serif;
    position: relative;
    left: 100px;
    top:50px;
}
.section-4-left{

    height: 400px;
    width: 400px;

 
}
.section-4-right{

       margin: 50px;
    height:100px;
    width: 700px;
    position:absolute;
    left:700px;

}

/*section-5*/

#section-5{
     height: 1600px;
    width: 500px;
    
    font-size: 25px;
    font-family: Arial, sans-serif;
    position: relative;
    left: 70px;
    top:50px;
}
.section-5-left{
    height: ;
    width: ;
}

.section-5-right{

}

/*section-6*/

#section-6{

    {
   
}

}